
#clearButton {
    position: absolute;
    right: 15px;
}

#console {
    overflow-y: auto;
    width: 98%;
    height: 15%;
    position: absolute;
    bottom: 0px;
    border: groove;
}

#data {
    overflow-y: auto;
    width: 98%;
    height: 75%;
    position: absolute;
    top: 40px;
    border: none;
}

td {
    padding:10px;
}
th {
    background-color:green;
    color:white;
    text-align: left;
}

#dataTable {
    font-size: larger;
    border: 1px solid darkgreen;
    border-collapse:collapse;
    padding: 15px;
    width: 100%;
}


#row0 {
    background-color:white;
}

#row1 {
    background-color: lightgrey;
}